.white-color{
    color: white;
}

.section-content-main-search{
    display: flex;
}
.section-content-all-search{
    display: grid;
    margin-right: 24px;
    grid-gap: 24px;
    grid-template-columns: repeat(auto-fill,minmax(188px, 1fr));
    grid-template-rows: repeat(auto-fit,minmax(188px,1fr));
}

.main-genre-card{
    display: block;
    border: none;
    border-radius: 8px;
    margin-right: 24px;
    height: 220px;
    width: 394px;
    overflow: hidden;
    position: relative;
}

.main-genre-card-head{
    font-size: 40px;
    letter-spacing: -0.04em;
    line-height: 1.3em;
    max-width: 100%;
    overflow-wrap: break-word;
    padding: 16px;
    color: white;
    position: absolute;
}

.main-genre-card-img{
    right: 0px;
    transform: rotate(25deg) translate(18%, -2%);
    bottom: 0px;
    box-shadow: rgb(0 0 0 / 20%) 0px 2px 4px 0px;
    height: 128px;
    position: absolute;
    width: 128px;
}

.genre-card{
    display: block;
    border: none;
    min-height: 188px;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.genre-card-head{
    font-size: 24px;
    color: white;
    letter-spacing: -.04em;
    line-height: 1.3em;
    max-width: 100%;
    overflow-wrap: break-word;
    padding: 16px;
}

.genre-card-img{
    right: 0;
    transform: rotate(25deg) translate(18%,-2%);
    bottom: 0;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%);
    height: 100px;
    position: absolute;
    width: 100px;
}

.color-39-133-106{
    background-color: rgb(39, 133, 106);
}
.color-186-93-7{
    background-color: rgb(186, 93, 7);
}

.color-141-103-171{
    background-color: rgb(141, 103, 171);
}

.color-230-30-50{
    background-color: rgb(230, 30, 50);
}

.color-30-50-100{
    background-color: rgb(30, 50, 100);
}

.color-141-103-171{
    background-color: rgb(141, 103, 171);
}
.color-232-17-91{
    background-color: rgb(232, 17, 91);
}

.color-119-119-119{
    background-color: rgb(119, 119, 119);
}

.search-container{
    flex: 0 1 364px;
    margin-right: auto;
    padding: 16px 0;
    pointer-events: auto;
}
.search-input{
    border: 0;
    border-radius: 500px;
    color: #000;
    height: 40px;
    padding: 6px 48px;
    text-overflow: ellipsis;
    width: 100%;
}

.search-logo{
    position: absolute;
    top: 23px;
    left: 170px;
    align-items: center;
    pointer-events: none;
    
}
@font-face {
    font-family: "Proxima Nova"; 
    src: url("static/fonts/ProximaNova-Bold.ttf") format("truetype"); 
    font-weight: bold;
    } 
